{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@1,200&display=swap"
      rel="stylesheet"
    />
    
    <script src="https://kit.fontawesome.com/54a7f11736.js" crossorigin="anonymous"></script>

    <title>PTA Student Form</title>
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'students/oldstyle.css' %}" />
    <link href= "{% static 'students/style.css' %}" rel="stylesheet" />
    
    
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <a href="#" class="navbar-brand mb-0 h1">
          <img
            class="d-inline-block align-top"
            src="{% static 'students/logo1.png' %}"
            width="40"
            height="30"
          />
        </a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a href="{% url 'stuHome' %}" class="nav-link active">Home</a>
            </li>
            <li class="nav-item active">
              <a href="#" class="nav-link">Jobs</a>
            </li>
            <li class="nav-item active">
              <a href="#" class="nav-link">Resume Builder</a>
            </li>
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Profile</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a href="{% url 'stuDet' %}" class="dropdown-item">Add Profile Details</a></li>
                <li><a href="{% url 'viewUserDet' %}" class="dropdown-item">View Profile</a></li>
                <!-- <li><a href="#" class="dropdown-item">Sign out</a></li> -->
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="chumma" style="margin-top: 100px">
    <div class="container justify-content-center">
      <div class="my-container">
        <header>PTA Student Form</header>
        <!--Progress bar-->
        <div class="my-progress-bar">
          <div class="my-step">
            <p>Basic</p>
            <div class="my-bullet">
              <span>1</span>
            </div>
            <div class="my-check fas fa-check"></div>
          </div>
          <div class="my-step">
            <p>Personal</p>
            <div class="my-bullet"><span>2</span></div>
            <div class="my-check fas fa-check"></div>
          </div>
          <div class="my-step">
            <p>Education</p>
            <div class="my-bullet"><span>3</span></div>
            <div class="my-check fas fa-check"></div>
          </div>
          <div class="my-step">
            <p>Other</p>
            <div class="my-bullet"><span>4</span></div>
            <div class="my-check fas fa-check"></div>
          </div>        
        </div>
        <!--Progress bar code over..check above-->
        <div class="my-form-outer">
          <form action="/addStudentDetails/" method="post">
            {%  csrf_token  %}
            <div class="my-page my-slidepage">
              <div class="my-title">Basic Info:</div>
              <div class="my-field">
                <div class="my-label">Full Name</div>
                <input type="text" id="name-el"/>
              </div>
              <div class="my-field">
                <div class="my-label"> Email</div>
                <input type="email" id="uemail-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Roll no</div>
                <input type="number" id="roll-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">DOB</div>
                <input type="date" id="birth-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Gender</div>
                <select id="gender-el">
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="my-field">
                <div class="my-label">College Name</div>
                <select id="college-name-el">
                  <option>REC</option>
                  <option>RIT</option>
                  
                </select>
              </div>
              <div class="my-field">
                <div class="my-label">Degree</div>
                <select id="degree-el">
                  <option>B.E</option>
                  <option>B.Tech</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="my-field">
                <div class="my-label">Branch</div>
                <select id="ug-branch-el">
                  <option>Aero</option>
                  <option>Auto</option>
                  <option>CSE</option>
                  <option>IT</option>
                  <option>Mech</option>
                  <option>Civil</option>
                </select>
              </div>
              <div class="my-field">
                <div class="my-label">UG Year of Passing</div>
                <select id="ug-pass-el">
                  <option>2024</option>
                  <option>2025</option>
                  <option>2026</option>
                  <option>2027</option>
                  <option>2028</option>
                  <option>2029</option>
                </select>
              </div>
              <div class="my-field">
                <div class="my-label">Dayscholar/Hostler</div>
                <select id="day-el">
                  <option>Day Scholar</option>
                  <option>Hostler</option>
                </select>
              </div>
              <div class="my-field">
                <div class="my-label">Phone no</div>
                <input type="number" id="phone-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">UG CGPA</div>
                <input type="number" step="any" id="ug-cgpa-el"/>
              </div>
  
              <div class="my-field my-nextbtn">
                <button  type="button" class="my-next-1 my-next">Next</button>
              </div>
            </div>
  
            <!--New page-->
  
  
            <div class="my-page my-slidepage">
              <div class="my-title">Personal Information:</div>
              <div class="my-field">
                <div class="my-label">Father's Name</div>
                <input type="text" id="father-name-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Father's Contact No</div>
                <input type="number" id="father-contact-el"/>
              </div>
              
              <div class="my-field">
                <div class="my-label">Father's Occupation</div>
                <input type="text" id="father-occ-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Mother's Name</div>
                <input type="text" id="father-name-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Mother's Contact No</div>
                <input type="number" id="mother-contact-el"/>
              </div>
             
              <div class="my-field">
                <div class="my-label">Mother's Occupation</div>
                <input type="text" id="mother-occ-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Annual Income of Parents</div>
                <input type="number" id="income-el"/>
              </div>
              
              <div class="my-field">
                <div class="my-label">Native Place</div>
                <input type="text" id="native-1-el"/>
              </div>
              
              <div class="my-field">
                <div class="my-label">Current Address</div>
                <textarea placeholder="Enter address" rows="10" cols="45"  id="currAddr-1-el"></textarea>
                
              </div>
              <div class="my-field">
                <div class="my-label">Permanent Address</div>
                <textarea placeholder="Enter address" rows="10" cols="45"  id="permAddr-1-el"></textarea>
                
              </div>
              
             
              
              
              
  
              <div class="my-field my-btns">
                <button  type="button" class="my-prev-2 my-prev">Previous</button>
                <button  type="button" class="my-next-2 my-next">Next</button>
              </div>
            </div>
            <!--new page-->
            <div class="my-page my-slidepage">
              <div class="my-title">Educational Details:</div>
              <div class="my-field">
                <div class="my-label">No. of standing arrears</div>
                <input type="number" id="stanArrear-3-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">History of arrears</div>
                <input type="number" id="hisOfArrears-3-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">SSLC Mark/CGPA</div>
                <input type="number" step="any" id="sslc-1-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">SSLC Maximum marks</div>
                <input type="number" step="any" id="sslc-2-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">SSLC Medium</div>
                <input type="text" id="sslc-3-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">SSLC School Name</div>
                <input type="text" id="sslc-4-el"/>
              </div>
              
              <div class="my-field">
                <div class="my-label">SSLC Board</div>
                <input type="text" id="sslc-6-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">SSLC Year of Passing</div>
                <input type="number" id="sslc-6-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">HSC Mark/CGPA</div>
                <input type="text" step="any" id="hsc-1-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">HSC Maximum marks</div>
                <input type="text" step="any" id="hsc-2-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">HSC Medium</div>
                <input type="text" id="hsc-3-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">HSC School Name</div>
                <input type="text" id="hsc-4-el"/>
              </div>
              
              <div class="my-field">
                <div class="my-label">HSC Board</div>
                <input type="text" id="hsc-6-el"/>
              </div>
              
              <div class="my-field">
                <div class="my-label">HSC Year of Passing</div>
                <input type="number" id="hsc-8-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Diploma Mark/CGPA</div>
                <input type="text" step="any" id="dip-1-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Diploma Maximum marks</div>
                <input type="text" step="any" id="dip-2-el"/>
              </div>
              
              <div class="my-field">
                <div class="my-label">Diploma University Name</div>
                <input type="text" id="dip-4-el"/>
              </div>
              
              <div class="my-field">
                <div class="my-label">Diploma Branch</div>
                <input type="text" id="dip-6-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Diploma Year of Passing</div>
                <input type="number" id="dip-7-el"/>
              </div>
              
              <div class="my-field my-btns">
                <button  type="button" class="my-prev-3 my-prev">Previous</button>
                <button  type="button" class="my-next-3 my-next">Next</button>
              </div>
            </div>
            <div class="my-page my-slidepage">
              <div class="my-title">Other Information:</div>
              
              <div class="my-field">
                <div class="my-label">Break in Academics</div>
                <input type="text" id="break-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Professional Certification courses</div>
                <input type="text" id="cert-course-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Professional Industry Experience</div>
                <input type="text" id="industry-exp-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Name of Company Experience</div>
                <input type="text" id="comp-exp-name-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Designation/Role</div>
                <input type="number" id="exp-role-el"/>
              </div>
              <div class="my-field">
                <div class="my-label">Duration</div>
                <input type="text" id="exp-dura-el"/>
              </div>
              
              
  
              <div class="my-field my-btns">
                <button  type="button" class="my-prev-4 my-prev">Previous</button>
                <button type="submit",value ="submit", name="submit" class="my-submit my-next">Submit</button>
                
                
              </div>
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>
    </div>
    <script src="{% static 'students/form.js' %}"></script>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    
  </body>
  
</html>
