.my-flex{
    display: flex;
    gap: var(--gap, 1rem);
}

/*Primary Header*/
.my-logo{
   margin: 2rem; 
   width: 100px;
   height: fit-content;
}
.my-primary-header{
    align-items: center;
    justify-content: space-between;
}
.my-mobile-nav-toggle{
    display: none;
}

.my-primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    /*uses below if browser does not support blur effect*/
    background: hsl(0 0% 0% / 0.75);
    
}

@supports (backdrop-filter: blur(1rem)){
    .my-primary-navigation{
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }
}
.my-primary-navigation a{
    text-decoration: none;
    /*font-family: 'Sofia Sans Extra Condensed', sans-serif;*/
}
.my-primary-navigation a> [aria-hidden="true"]{
    font-weight: 700;
    margin-inline-end: 0.75em;
}

@media (max-width:35em){
    .my-primary-navigation{
        /*gap below helps later if using flexbox--check later*/
        --gap : 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh,10rem) 2em;

        /*for popping out of nav bar in small devices */
        transform: translateX(100%);
        
    }
    /*making it not visible until js turn datavisible true */
    .my-primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }
    .my-mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background: url("/images/assets/shared/icon-hamburger.svg");
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    
    
    }

}
/*for medium sized screens*/
@media (min-width:35em) and (max-width:55em){
    .my-primary-navigation a> span[aria-hidden]{
        display: none;
    }
}
/*for larger screen sizes*/
@media (min-width :35em){
    .my-primary-navigation{
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem,7vw,10rem);
    }
}


body{

    background-color: goldenrod;
    
    overflow-x: hidden; /*useful check later */
    /*edit if causing problems*/ /*below from form tuto*/
    /*display: flex;*/
    align-items: center;
    /*justify-content: center;*/
    min-height: 100vh;
}

.my-container{
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /*above can be removed since it is already in body
    all above was in body in tutotrial video--dont want to do because body also contains navbar*/
    width: 330px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 50px 35px 10px 35px;
}

.my-container header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
/*created div chumma coz my-container just wouldn't justify content */
.chumma{
    display: flex;
    justify-content: center;
}

.my-container .my-form-outer{
    width: 100%;
    overflow: hidden;
    /*overflow hidden makes all other extra pages outside the mycontaienr to disapper*/
    
}
.my-form-outer form{
 display: flex;
 width: 400%;  /*dont know y check later*/
 /*width 400% and width 25% makes diff pages of forms appear far from each other 
 width 100% means from size of parent */
}
.my-form-outer form .my-page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}
.my-form-outer form .my-page .my-title{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.my-form-outer form .my-page .my-field{
    height: 45px;
    width: 330px;
    margin: 45px 0;
    display: flex;
    position: relative;
}
.my-form-outer form .my-page .my-field .my-label{
   position: absolute;
   top: -30px;
   font-weight: 500;
}
.my-form-outer form .my-page .my-field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
}
form .my-page .my-field select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}
.my-form-outer form .my-page .my-field button{
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: #d43d8d;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease;
}
.my-form-outer form .my-page .my-field button:hover{
    background: #000;

}
.my-form-outer form .my-page .btns button{
    margin-top: -20px!important;
}

form .my-page .btns button.prev{
    margin-right: 3px;
    font-size: 17px;

}
form .my-page .btns button.next{
    margin-left: 3px;
    font-size: 17px;

}
.my-container .progress-bar{
    display: flex;
    margin: 40px 0;
}
.my-container .progress-bar .step{
    position: relative;
    text-align: center;
    width: 100%;
}
.progress-bar .step p{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
}
.progress-bar .step p.active{
    color: #d43d8d;
}
.progress-bar .step .bullet{
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    /*next three lines not in tuto code*/
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    transition: 0.2s;
}
.progress-bar .step .bullet.active{
    border-color: #d43f8d;
    background: #d43d8d;
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
    display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
}
.progress-bar .step .bullet.active:after{
    background: #d43f8d;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.progress-bar .step .bullet span{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
    display: none;
}
.progress-bar .step .check{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;



}
.progress-bar .step .check.active{
    display: block;
    color: #fff;
}