{% extends "hiring_team/base.html" %} 
{% load static %} 
{% block content %}
<!-- Navbar  -->
{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
{% endfor %}
{% endif %}
    
    <br><br>
    <div
      class="container hiring-main"
      style="background-color: white; min-width: 200px"
    >
    <center><h1 id="spa-heading">Welcome Recuriters!!</h1></center>
    <!-- <p>{{ request.session.uname }}</p>
    <p>{{ request.session.hiring }}</p> -->
    
      <div class="hiring-container">
       
        <div class="hiring-card">
          <div class="hiring-card-text">Create Job Opening ->></div>
          <div class="hiring-card-frame"></div>
          <button class="hiring-card-button" onclick="location.href='{% url 'company' %}'">Go to Form</button>
        </div>
        <div class="hiring-card">
          <div class="hiring-card-text">Applied Students ->></div>
          <div class="hiring-card-frame"></div>
          <button class="hiring-card-button" onclick="location.href='{% url 'appliedStu' %}'">View List</button>
        </div>
      </div>
    </div>
    <br><br>
{% endblock content %}   