body{
    background: url('rec_blur.png');
	background-size: cover;
	}
#nav {
    background-color: transparent;
}
.navbar img{
    height: 60px;
    margin: 4px;
    width: 60px;
}
li{
    margin-left: 3% ;
}
li a:hover{
    background-color: rgb(11, 0, 0);
    color: black;
  }
#name{
    font-size: 500%;
    font-weight: bolder;
    color: transparent  ;
    margin-left: 10%;
    -webkit-text-stroke: 1px #fff;
    background: url('back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 40s linear infinite;
    }
@keyframes back{
    100%{
        background-position: 4000px 0;
    }
}
#navbarNav{
    color: white;
}
.carousel-item{
    height: 32rem;
    background: #777;
    color: black;
    position: relative;
    background-position: center;
    background-size: cover;
}

.carousel-item .container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.overlay-image-one{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    background-image: url("C:\uc\Final-Year-proj\students\static\students\bg-1.jpg");
}

.overlay-image-two{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    
}

.overlay-image-three{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    background-image: url("/static/bg-3.jpeg");
}

.navbar img{
    height: 40px;
    margin: 4px;
    width: 100px;
}

.carousel-item{
    height: 32rem;
    background: #777;
    color: black;
    position: relative;
    background-position: center;
    background-size: cover;
}

.carousel-item .container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

