
/* .client{
    height: 100px;
    margin-bottom: 50px;
    align-content: center;
}
.logo{
    width: 80px;
    margin-bottom: 8px;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;       
}
.client-title{
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto,Helvetica,sans-serif;
    
} */

/* svg {
    width: 40;
    height: 30;
  } */

/* img{
    vertical-align: middle;
}
.flexbox{
    display: flex;
}
.my-modal{
    padding: 1em;
    
}
.my-modal::backdrop{
    background: rgb(0 0 0 /.5);
}
 */
/*new home code*/


/* *{
    margin: 0;
    padding: 0;
}
.home-header{
    min-height: 100vh;
    width: 100%;
    background-image: url(users/img/bg-1.jpg);

} */