body{

    background-color: rgb(245, 205, 104);
    background-image: linear-gradient(135deg, #70b7e6, #9b59b6);
    
    overflow-x: hidden; /*useful check later */
    /*edit if causing problems*/ /*below from form tuto*/
    /*display: flex;*/
    align-items: center;
    /*justify-content: center;*/
    min-height: 100vh;
}
/* Removed a unnecessary .chumma .container which was here */
.my-container{
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /*above can be removed since it is already in body
    all above was in body in tutotrial video--dont want to do because body also contains navbar*/
    width: 330px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 50px 35px 10px 35px;
    min-width: 330px;
    box-sizing: content-box;
    margin: auto;
    min-width: 50%;
}

.my-container header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
/*created div chumma coz my-container just wouldn't justify content */
.chumma{
    display: flex;
    justify-content: center;
    box-sizing: content-box;
}

.my-container .my-form-outer{
    width: 100%;
    overflow: hidden;
    /*overflow hidden makes all other extra pages outside the mycontaienr to disapper*/
    
}
.my-form-outer form{
 display: flex;
 width: 400%;  /*dont know y check later*/
 /*width 400% and width 25% makes diff pages of forms appear far from each other 
 width 100% means from size of parent */
}
.my-form-outer form .my-page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}
.my-form-outer form .my-page .my-title{
    margin-top: 2rem;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.my-form-outer form .my-page .my-field{
    height: 45px;
    width: 330px;
    margin: 45px 0;
    display: flex;
    position: relative;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}
.my-form-outer form .my-page .my-field .my-label{
   position: absolute;
   top: -30px;
   font-weight: 500;
}
.my-form-outer form .my-page .my-field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
}
form .my-page .my-field select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}
.my-form-outer form .my-page .my-field button{
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: #d43d8d;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease;
}
.my-form-outer form .my-page .my-field button:hover{
    background: #000;

}
.my-form-outer form .my-page .my-btns button{
    margin-top: -20px!important;
}

form .my-page .my-btns button.my-prev{
    margin-right: 3px;
    font-size: 17px;

}
form .my-page .my-btns button.my-next{
    margin-left: 3px;
    font-size: 17px;

}
.my-container .my-progress-bar{
    display: flex;
    margin: 40px 0;
    max-width: 330px;
    margin: auto;
}
.my-container .my-progress-bar .my-step{
    position: relative;
    text-align: center;
    width: 100%;
}
.my-progress-bar .my-step p{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
}
.my-progress-bar .my-step p.active{
    color: #d43d8d;
}
.my-progress-bar .my-step .my-bullet{
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    /*next three lines not in tuto code*/
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    transition: 0.2s;
}
.my-progress-bar .my-step .my-bullet.active{
    border-color: #d43f8d;
    background: #d43d8d;
}
.my-progress-bar .my-step:last-child .my-bullet:before,
.my-progress-bar .my-step:last-child .my-bullet:after{
    display: none;
}
.my-progress-bar .my-step .my-bullet:before,
.my-progress-bar .my-step .my-bullet:after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
}
.my-progress-bar .my-step .my-bullet.active:after{
    background: #d43f8d;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.my-progress-bar .my-step .my-bullet span{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.my-progress-bar .my-step .my-bullet.active span{
    display: none;
}
.my-progress-bar .my-step .my-check{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;



}
.my-progress-bar .my-step .my-check.active{
    display: block;
    color: #fff;
}

/*comments
1. changed progress bar max-wwidth set to 330px and margin : auto
2. changed form width to 50 % and centered using margin : auto
3. centered field items by using margin props
4. changed background color since udei was asking
5. removed unnecessary .chumma styling in oldstyles.css
6.changed my-title props - center and margin top
*/
